.mg-header {
  justify-items: center;
  padding-bottom: 20px;
}

.mg-header h1 {
  width: fit-content;
  margin: 0;
  text-align: center;
  text-decoration: 3px underline;
  font-size: 5rem;
  font-family: "Imperial Script", cursive;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 235, 120);
  /* border-bottom: 2px solid rgb(255, 235, 120); */
}
